<div class="container col-12">
    <h1 class="home-header text-center ">Join to session!</h1>
    <div class="main-table">
    <table mat-table [dataSource]="this.sessions$ | async" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="gameSessionId">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.sessionId}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="sessionName">
          <th mat-header-cell *matHeaderCellDef> Name of session </th>
          <td mat-cell *matCellDef="let element"> {{element.sessionName}} </td>
        </ng-container>
           
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="table-row" [ngClass]="{'table-row-selected': selectedRowIndex == row.sessionId}" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>
      </table>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-home-sys" [disabled]="!selectedRowIndex" (click)="joinToSession()" type="submit">Join</button>
    </div>
</div>