

<div class="background-container">
    <div class="center-window">
        <div class="hero-window">
            <h1 class="hero-name">Warlock</h1>
            <div class="hero-image-warlock"></div>
            <div class="button-section">
                <button class="btn-join">Pick!</button>
            </div>
        </div>
        <div class="hero-window">
            <h1 class="hero-name">Thief</h1>
            <div class="hero-image-thief"></div>
            <div class="button-section">
                <button class="btn-join">Pick!</button>
            </div>
        </div>
        <div class="hero-window">
            <h1 class="hero-name">Swordsman</h1>
            <div class="hero-image-swordsman"></div>
            <div class="button-section">
                <button class="btn-join">Pick!</button>
            </div>
        </div>
        <div class="hero-window">
            <h1 class="hero-name">Oracle</h1>
            <div class="hero-image-oracle"></div>
            <div class="button-section">
                <button class="btn-join">Pick!</button>
            </div>
        </div>
    </div>
</div>

