
.btn-home-sys{

    border: #3c1711 1px solid;
    background-color: rgb(80, 31, 22) ;
    color:white;
    transition: transform .3s;
    &:hover{
        transform: scale(1.02);
        background-color: rgba(64, 25, 18, 0.8);
    }
}