<div class="chat-window">
    <div class="message-area">
        <div *ngIf="(this.chatService.messageThread$ | async)" class="message-plane">
            <div class="text-black" style="color: black; border-bottom: solid 1px gray;" *ngFor="let message of (this.chatService.messageThread$ | async)">
              <p><b>{{message.sender}}: </b>{{message.message}}</p>
            </div>
        </div>
    </div>
    <div class="message-form">
        <input type="text" [(ngModel)]="messageContent" class="message-input">
        <button class="btn-send-msg" (click)="sendMessage()">Send</button>
    </div>
</div>