
<div class="background-container">
    <div class="map-wrapper">
        <button class="map-button vertical" (click)="moveUp()">
            <fa-icon [icon]="arrowUp"></fa-icon>
        </button>
        <div class="plan-row-arrow m-0 p-0">
            <button class="map-button horizontal" (click)="moveLeft()">
                <fa-icon [icon]="arrowLeft"></fa-icon>
            </button>
            <div class="game-plan col col-12">
                <div class="game-plan-row row" *ngFor="let row of sessionData.blocksShape">
                    <app-game-block class="game-block"
                    *ngFor="let element of row" [blockComponentData]="element"
                    (click)="moveHero(element)">

                    </app-game-block>
                </div>
            </div>
            <button class="map-button horizontal"  (click)="moveRight()">
                <fa-icon [icon]="arrowRight"></fa-icon>
            </button>
        </div>
        <button class="map-button vertical" (click)="moveDown()">
            <fa-icon [icon]="arrowDown"></fa-icon>
        </button>
    </div>
    <div class="right-panel">
        <div class="players-turn-section">
            <div class="players-turn-countdown">
                <p class="white">{{this.gameService.playerName$ | async}}'s turn</p>
                <mat-progress-bar mode="determinate" value="{{this.gameService.turnCountdown}}" color="warn"></mat-progress-bar>
            </div>
            <button class="btn-options" (click)='leaveSession()'>Leave Session!</button>
        </div>
        <div class="hero-info-section">
            <app-character-info></app-character-info>       
        </div>
        <app-chat ></app-chat>
    </div>
</div>