.background-container{
    width: 100%;
    height: 100%;

    @media (min-width: 1800px) and (max-width:2000px )  {
        background-image: url("../../../../assets/images/home/background1920x1080.jpg");
    }

    @media (min-width: 2000px) and (max-width:2561px )  {
            background-image: url("../../../../assets/images/home/background2560x1080.jpg");
    }


    @media (min-width: 2300px) and (max-width:2561px )  {
        padding-left: 10%;    
    }

    
    @media (min-width: 2561px) and (max-width:4000px )  {
        background-image: url("../../../../assets/images/home/background3840x2160.jpg");
    }
    display: grid;
    grid-template-columns: 1450px auto;
}

.map-wrapper{
    padding-left: 0px;
    padding-right: 0px;

    @media (min-width: 1800px) and (max-width:2000px )  {
        width: 1450px;
    }

    @media (min-width: 2000px) and (max-width:2561px )  {
        width: 1450px;
    }

    
    @media (min-width: 2561px) and (max-width:4000px )  {
        width: 1450px;
    }
}


.game-plan{
    padding-left: 0px;
    padding-right: 0px;
    border: 3px #212529 solid;

    @media (min-width: 1800px) and (max-width:2000px )  {
        width: 1266px;
        height: auto;
    }

    @media (min-width: 2000px) and (max-width:2561px )  {
        width: 1266px;
        height: auto;
    }

    
    @media (min-width: 2561px) and (max-width:4000px )  {
        width: 1266px;
        height: auto;
    }

    background-color: #212529!important;
    opacity: 0.8;

}

.plan-row-arrow{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

.game-block{
    position: relative;
    width: 140px;
    height: 140px;
    border: 2px #212529 solid;
    padding:0px;
    margin:0px;
}

.game-block:hover{
    transition: transform .4s; 
    transform: scale(1.05);
    border: 2px black solid;
    z-index: 2;
}

.game-plan-row{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.map-button{
    background-color: #212529;
    opacity: 0.8;
    color: white;
}

.horizontal{
    padding: 0px;
    width: 60px;
    margin-left: 15px;
    margin-right: 15px;

}
.vertical{
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;
    width: calc(100% - 30px);
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.right-panel{
    display: grid;
    grid-template-rows: 60px 55% auto;
    margin: 15px 15px 15px 0px;
    padding: 0px;
    max-height: 858px;
    max-width: 600px;
}
.players-turn-section{
    //background-color: red;
    display: grid;
    grid-template-columns: 70% auto;
    color:white;
    background-color: #212529;
    opacity: 0.8;
    p{
        font-size: 26px;
        text-align: center;
        padding-top: 20px;
    }
}

.players-turn-countdown{
    padding-left: 15px;
    padding-right: 15px;
}

.hero-info-section{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #212529;
    opacity: 0.8;
}

.options-section{
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #212529;
    opacity: 0.8;
    display: grid;
    grid-template-columns: 50% auto;
}

.btn-options{
    border: #3c1711 1px solid;
    border-radius: 10px;
    background-color: rgba(80, 31, 22, 0.8) ;
    color:white;
    font-size: 1rem;
    transition: transform .3s;
    &:hover{
        transform: scale(1.02);
        background-color: rgba(64, 25, 18, 0.8);
    }
    margin: 8px;
}