<div class="character-info-section">

    <div class="hero-item-section">
        <div class="hero-weapon-section">
            <div class="hero-weapon">
                <div class="sword-weapon"></div>
            </div>
            <div class="hero-weapon">
                <div class="axe-weapon"></div>
            </div>
            <div class="hero-weapon"></div>
        </div>
        <div class="hero-picture-placeholder">
            <div class="hero-picture">
                <h3 class="hero-level">Lvl: 25</h3>
            </div>
        </div>
        <div class="hero-magic-section">
            <div class="hero-magic">
                <div class="sword-magic"></div>
            </div>
            <div class="hero-magic"></div>
            <div class="hero-magic"></div>
        </div>
    </div>
    <div class="hero-stats-section">
        <div class="hero-stats">
            <div class="hpxp-row">
                <div class="hp-col">
                    <div class="stat-icon heart-icon"></div>
                    <div class="stat-value">230/350</div>
                    <button class="btn-upgrade">+</button>
                </div>
                <div class="xp-col">
                    <div class="stat-icon star-icon"></div>
                    <div class="stat-value">230/350</div>
                    <button class="btn-upgrade">+</button>
                </div>
            </div>

            <div class="attdef-row">
                <div class="att-col">
                    <div class="stat-icon sword-icon"></div>
                    <div class="stat-value">5-13</div>
                    <button class="btn-upgrade">+</button>
                </div>
                <div class="def-col">
                    <div class="stat-icon shield-icon"></div>
                    <div class="stat-value">5</div>
                    <button class="btn-upgrade">+</button>
                </div>
            </div>
        </div>
    </div>
</div>
