<div class="character-info-section">
    <div class="hero-health-section">
        <div class="hero-health">
            <div class="hero-health-hearth"></div>
        </div>
        <div class="hero-health">
            <div class="hero-health-hearth"></div>
        </div>
        <div class="hero-health">
            <div class="hero-health-hearth"></div>
        </div>
        <div class="hero-health"></div>
        <div class="hero-health"></div>
        <div class="hero-health"></div>
        <div class="hero-health"></div>
    </div>
    <div class="hero-item-section">
        <div class="hero-weapon-section">
            <div class="hero-weapon">
                <div class="sword-weapon"></div>
            </div>
            <div class="hero-weapon">
                <div class="axe-weapon"></div>
            </div>
            <div class="hero-weapon"></div>
        </div>
        <div class="hero-picture-placeholder">
            <div class="hero-picture"></div>
        </div>
        <div class="hero-magic-section">
            <div class="hero-magic">
                <div class="sword-magic"></div>
            </div>
            <div class="hero-magic"></div>
            <div class="hero-magic"></div>
        </div>
    </div>
</div>
