<div class="game-block" [style.background-image]="blockComponentData.blockType.imageName">
    <div class="player-wrapper" *ngIf="this.blockComponentData.heroes">
        <div class="player-hero {{this.cssMoveAnimation}}" *ngFor="let hero of this.blockComponentData.heroes"
            [style.background-image]="hero.imagePath">
        </div>
    </div>
    <div class="monster-wrapper" *ngIf="this.blockComponentData.monster">
        <div class="monster" [style.background-image]="this.blockComponentData.monster.monsterType.imagePath">
            <p class="monster-level">{{this.blockComponentData.monster.level}}</p>
        </div>
    </div>
</div>
<div class="{{this.cssDiscoverFade}}">

</div>